@import "tailwindcss";

body {
	font-family:
		Geist Mono,
		Arial,
		Helvetica,
		sans-serif;

	nav {
		font-family: Geist Mono;
		font-weight: 500;
		font-style: Medium;
		font-size: 12px;
		line-height: 140%;
		letter-spacing: 0%;
		@apply text-[#656565];
	}
}
